<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
		<div class="post-heading">
			<h1>{{post.title}}</h1>
		</div>
		<div class="post-meta">Posted by <a href="#">{{post.user.first_name}} </a> on {{post.created_at | date:'MMMM dd, yyyy'}}
			<div ng-if="user.id == post.user_id">
		    <a href="/#/posts/{{post.id}}/edit"><i class="fa fa-edit"></i></a>
		    <a data-confirm="Are you sure?" rel="nofollow"  ng-click="delete(post.id)"><i class="fa fa-trash"></i></a>
		  </div>
		</div>		
		<div class="post-description" ng-bind-html="getHtml(post.description)"></div>
	</div>
</div>

<div class="row">            
	<a href="/#/posts">Back</a>
</div>