<div class="page-header">
  <h1>Edit Profile </h1>
</div>
<div class="" ngController="userEditController">
  <div class="col-md-4">
    <div class="button avatar-preview" style="height: 200px;" ngf-select ng-model="user.avatar" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 200, height: 200}">
      <img src="{{user.avatar.original}}" class="avatar-preview" ng-show="user.avatar.original"/>
      <img ng-show="user.avatar.$valid" ngf-thumbnail="user.avatar" class="thumb">
    </div>
    <div class="avatar-buttons">
      <button ng-click="removeAvatar(); user.avatar = null" ng-show="user.avatar" class="btn btn-danger">Remove</button>    
      <button type="submit" ng-click="avatarUpload()" class="btn btn-primary">Save</button>
    </div>  
  </div>
  <div class="col-md-offset-2 col-md-4">
    <div class="row">
      <form ng-submit="update()">
        <fieldset class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" ng-model="user.first_name">
        </fieldset>
        <fieldset class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" ng-model="user.last_name">
        </fieldset>     
        <fieldset class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="user.title">
        </fieldset>   
        <fieldset class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="user.description"/>
        </fieldset>   
        <fieldset class="form-group">
          <label>Public Email (visible to public)</label>
          <input type="text" class="form-control" ng-model="user.public_email">
        </fieldset>  
        <fieldset class="form-group">
          <label>Website</label>
          <input type="text" class="form-control" ng-model="user.website">
        </fieldset>        
        <div class="checkbox"></div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>  
  </div>
</div>  